body {
    margin : 0;
    padding : 0;
    background-color : #000000;
    color : white;
    width : 100vw;
    height : 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display : flex;
}

.sidebar, .main-content {
    margin-top: 0.75rem;
    height : 100vh;
}

.sidebar {
    width : 25rem;
}

.nav-options, .library, .main-content {
    border-radius: 1rem;
    background-color: #121212;
}

/************************************************** nav-options ********************************************************************************/
.nav-options, .library {
    width : 89%;
    margin-left : 0.7rem;
    padding-left : 1.5rem;
}

.nav-options {
    height : 7rem;
    display : flex;
    flex-direction : column;
    justify-content: space-evenly;
}

.nav-options i {
    color : white;
    font-size : 1.5rem;
}

.nav-options a {
    margin-left : 1.5rem;
    text-decoration: none;
    color : white;
    font-size :  1rem;
    font-weight: 600;
}

.nav-options .search {
    opacity : 0.7;
}

.nav-options .search:hover {
    opacity : 1;
}

/*************************************************** Library **********************************************************************************/
.library {
    margin-top : 0.7rem;
    height : 100vh;
}

.options {
    display : flex;
    padding : 1rem 0.3rem;
    justify-content: space-between;
    align-items : center;
}


.lib-options img {
    height: 1.25rem;
}

.lib-options a {
    margin-left: 0.7rem;
    color : white;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;  
}

.icons {
    display : flex;
}

.icons i {
    font-size: 1.25rem;
    margin-right : 2rem;
    opacity : 0.7;
}

.lib-options {
    opacity : 0.7;
}

.icons i:hover, .lib-options:hover {
    opacity : 1;
    font-weight: 900;
}


/************************************************** main-content *****************************************************************************/
.main-content {
    flex : 1;
    overflow: auto;

}

.music-player {
    position : absolute;
    height : 4.5rem;
    width : 100vw;
    background-color: #121212;
    bottom : 0;
}